[Unit]
Description=Idle manager for Wayland (swayidle)
Documentation=man:swayidle(1) man:swayidle(5)
PartOf=niri-session.target
Requisite=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w -C %h/.config/swayidle/config
Restart=on-failure
RestartSec=2

[Install]
WantedBy=niri-session.target
